html,body {
    height:100%;
 }

.footer{
    margin-top: 2rem;
    height: 5rem;
    background-color: #203c74;
    left: 0;
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
}


/* position: fixed;
left: 0;
bottom: 0; */
