.navbarBody{
    display: flex;
    justify-content: space-evenly;
    background-color: #203c74;
    height: 4rem;
    align-items: center;
}

.navbarBody h1{
    color: white;
}

.navbarBody li{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.navbarBody li a{
    color: white;
    font-size: larger;
}